<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="/Magento/Mtf/Repository/etc/repository.xsd">

    <repository class="{{class_namespace}}">
        <dataset name="{{dataSet_name}}">
            <field name="{{field_name}}" xsi:type="string">{{value}}</field>
            <field name="{{field_name}}" xsi:type="array">
                <item name="{{item_field_name}}" xsi:type="string">{{value}}</item>
            </field>
        </dataset>
    </repository>
</config>
