<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <preference for="Mtf\Client\Browser" type="Mtf\Client\Driver\Selenium\Browser"/>
    <preference for="Mtf\Constraint\AbstractConstraint" type="Mtf\Constraint\Dummy"/>
    <preference for="Mtf\Util\Generate\Fixture\FieldsProviderInterface"
                type="Mtf\Util\Generate\Fixture\DummyFieldsProvider"/>
    <preference for="Mtf\Util\Generate\Repository\CollectionProviderInterface"
                type="Mtf\Util\Generate\Repository\DummyCollectionProvider"/>
    <type name="Mtf\Client\Driver\Selenium\Element" shared="false"/>
    <type name="Mtf\Block\BlockInterface" shared="false"/>
    <type name="Mtf\Page\PageInterface" shared="false"/>
    <type name="Mtf\Fixture\InjectableFixture" shared="false"/>
    <type name="Mtf\Fixture\FixtureInterface" shared="false"/>
    <type name="Mtf\TestCase\Functional" shared="false"/>
    <type name="Mtf\Util\Iterator\TestCase">
        <arguments>
            <argument name="rule" xsi:type="object">Mtf\TestRunner\Rule\SuiteComposite</argument>
        </arguments>
    </type>
</config>
