<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="events.xsd">
    <preset name="default">
    </preset>
    <preset name="light">
        <observer class="Mtf\System\Observer\Log">
            <tag pattern="Mtf\Client\Driver\Selenium\Browser::find"/>
        </observer>
        <observer class="Mtf\System\Observer\SourceCode">
            <tag pattern="Mtf\Client\Driver\Selenium\Browser::find"/>
        </observer>
    </preset>
    <preset name="detailed" extends="light">
        <observer class="Mtf\System\Observer\ClientError">
            <tag pattern="page_changed"/>
        </observer>
        <observer class="Mtf\System\Observer\Log">
            <tag pattern="Mtf\Client\Driver\Selenium\Element::find"/>
        </observer>
        <observer class="Mtf\System\Observer\SourceCode">
            <tag pattern="Mtf\Client\Driver\Selenium\Element::find"/>
        </observer>
    </preset>
</config>
