<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="events.xsd">
    <preset name="default">
    </preset>
    <preset name="base">
        <observer class="Mtf\System\Observer\Log">
            <tag pattern="Mtf\Client\Driver\Selenium\Browser::find"/>
        </observer>
        <observer class="Mtf\System\Observer\SourceCode">
            <tag pattern="Mtf\Client\Driver\Selenium\Browser::find"/>
        </observer>
        <observer class="Mtf\System\Observer\State">
            <tag pattern="Mtf\Client\Driver\Selenium\Browser::click"/>
            <tag pattern="Mtf\Client\Driver\Selenium\Element::click"/>
            <tag pattern="Mtf\Client\Driver\Selenium\Browser::open"/>
            <tag pattern="Mtf\Client\Driver\Selenium\Browser::forward"/>
            <tag pattern="Mtf\Client\Driver\Selenium\Browser::back"/>
        </observer>
        <observer class="Mtf\System\Observer\Precodition">
            <tag pattern="before_fixture_persist"/>
            <tag pattern="after_fixture_persist"/>
        </observer>
    </preset>
    <preset name="detailed" extends="base">
        <observer class="Mtf\System\Observer\Log">
            <tag pattern="Mtf\Client\Driver\Selenium\Element::find"/>
        </observer>
        <observer class="Mtf\System\Observer\SourceCode">
            <tag pattern="Mtf\Client\Driver\Selenium\Element::find"/>
        </observer>
    </preset>
</config>
