<?xml version="1.0"?>
<!--
/**
 * {license_notice}
 *
 * @copyright   {copyright}
 * @license     {license_link}
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="events.xsd">
    <preset name="default">
    </preset>
    <preset name="base">
        <observer class="Mtf\System\Observer\PageUrl">
            <tag name="click_after"/>
            <tag name="open_after"/>
            <tag name="forward"/>
            <tag name="back"/>
        </observer>
        <observer class="Mtf\System\Observer\AppState">
            <tag name="app_state_applied"/>
        </observer>
        <observer class="Mtf\System\Observer\Fixture">
            <tag name="persist_before"/>
            <tag name="persist_after"/>
        </observer>
        <observer class="Mtf\System\Observer\ClientError">
            <tag name="page_changed"/>
            <tag name="exception"/>
        </observer>
        <observer class="Mtf\System\Observer\Log">
            <tag name="exception"/>
        </observer>
        <observer class="Mtf\System\Observer\SourceCode">
            <tag name="exception"/>
        </observer>
        <observer class="Mtf\System\Observer\Screenshot">
            <tag name="exception"/>
        </observer>
    </preset>
    <preset name="detailed" extends="base">
        <observer class="Mtf\System\Observer\ClientError">
            <tag name="page_changed"/>
            <tag name="exception"/>
        </observer>
        <observer class="Mtf\System\Observer\Log">
            <tag name="persist_before"/>
            <tag name="persist_after"/>
            <tag name="exception"/>
            <tag name="click_before"/>
            <tag name="set_value"/>
            <tag name="is_visible"/>
            <tag name="find"/>
            <tag name="reopen"/>
            <tag name="switch_to_frame"/>
            <tag name="get_value"/>
        </observer>
        <observer class="Mtf\System\Observer\SourceCode">
            <tag name="exception"/>
            <tag name="page_changed"/>
        </observer>
        <observer class="Mtf\System\Observer\Screenshot">
            <tag name="click_before"/>
            <tag name="page_changed"/>
            <tag name="exception"/>
        </observer>
    </preset>
</config>
