<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../ObjectManager/etc/config.xsd">
    <type name="Magento\Mtf\TestCase\Config">
        <arguments>
            <argument name="configuration" xsi:type="object">Magento\Mtf\TestCase\Config\Data</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Mtf\TestCase\Config\Data" type="Magento\Mtf\Config\Data">
    <arguments>
        <argument name="reader" xsi:type="object">Magento\Mtf\TestCase\Config\Reader</argument>
    </arguments>
    </virtualType>
    <virtualType name="Magento\Mtf\TestCase\Config\SchemaLocator" type="Magento\Mtf\Config\SchemaLocator">
        <arguments>
            <argument name="schemaPath" xsi:type="string">Magento/Mtf/TestCase/etc/testcase.xsd</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Mtf\TestCase\Config\Reader" type="Magento\Mtf\Config\Reader\Filesystem">
        <arguments>
            <argument name="fileResolver" xsi:type="object">Magento\Mtf\Config\FileResolver\Module</argument>
            <argument name="converter" xsi:type="object">Magento\Mtf\TestCase\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Magento\Mtf\TestCase\Config\SchemaLocator</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/scenario" xsi:type="string">scope</item>
                <item name="/config/scenario/step" xsi:type="string">namespace</item>
            </argument>
            <argument name="fileName" xsi:type="string">testcase.xml</argument>
            <argument name="defaultScope" xsi:type="string">Magento/Mtf/TestCase/Config/etc</argument>
        </arguments>
    </virtualType>
</config>
